:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1b1b1b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.subtext {
  color: #888;
}

h1 {
  font-size: 1.8em;
  line-height: 1;
}

.card {
  padding: 1em;
  z-index: 1;
}

.no-drag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.no-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 0 2em hsla(162, 85%, 56%, 0.753));
  margin-top: 15px;
  margin-bottom: 15px;
}

.invert {
  filter: invert(90%);
}

.info {
  margin-top: -8px;
  margin-right: 5px;
}

.no-link, .no-link:visited, .no-link:hover, .no-link:focus, .no-link:active {
  color: inherit;
  text-decoration: none;
}

.grayout {
  filter: brightness(20%) grayscale(100%);
  transition: filter 0.7s;
}

.grayout:hover {
  filter: brightness(30%) grayscale(50%);
  transition: filter 0.7s;
}

.quizcard {
  border-radius: 20px;
  max-height: 200px;
  min-width: 300px;
  object-fit: none;
}

.quizcard-container {
  position: relative;
  transition: filter 0.7s;
}

.quizcard-container:hover {
  filter: drop-shadow(0 0 2em #464646aa);
  transition: filter 0.7s;
}

.quizcard-title {
  background-color: #1b1b1b;
  padding: 14px 14px 6px 14px;
  border-radius: 9px;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.answer {
  background-color: #353535;
  padding-top: 7px;
  padding: 10px;
  border-radius: 8px;
  transition: 0.2s;
}

.answer:hover {
  background-color: #474747;
  transition: 0.2s;
}

.answer-cont:hover {
  cursor: pointer;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: whitesmoke;
  background-color: #0a0a0a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


